@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;  
  width: 60%;
}
.software-skills-main-div {
  display: flex;
  justify-content: center;
  align-items: center;


}

.software-skill-inline {
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 20px;

 
}
.stack{
  height:50px;
  width:50px;
  margin:12px;
}
.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

.software-skill-inline img:hover { 
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease; 
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; 
  -moz-transform: rotate(360deg); 
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg); 
  -ms-transform: rotate(360deg); 
  transform: rotate(360deg);
}