@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;  
  width: 60%;
}
.software-skills-main-div {
  display: flex;
  justify-content: center;
  align-items: center;


}

.software-skill-inline {
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.stack{
  height:50px;
  width:50px;
  margin:12px;
}
.software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

.software-skill-inline img:hover { 
   rotate: 15deg;
}

@media (max-width: 1024px) {
  
  .dev-icons {
   width:80%;
  }
}


@media (max-width: 768px) {
  
  .dev-icons {
   width:100%;
  }
}