@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}
.link-click{
  color:$subTitle;
}
.link-click:hover{
  
  // transition: all 0.3s ease-out;
  color:$textColor;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.dark-mode .link-click:hover{
  color: $subTitle !important;
}
